python==3.13.5
jupyterlab==4.4.3
numpy==2.3.0
pandas==2.3.0
pyarrow==20.0.0
pygraphviz==1.14
matplotlib==3.10.3
networkx==3.5
scikit-learn==1.7.0
scipy==1.15.2
statsmodels==0.14.4
seaborn==0.13.2
tensorly==0.8.2
joblib==1.5.1
ffmpeg==7.1.1